.header {
  width: 100%;
  padding-top: 38px;
  background-image: url('../img/bg/Hero-Image_GRN-landing-page2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.header::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2b2e4a;
  opacity: 0.96;
}
.header-container {
  position: relative;
  z-index: 999;
}
.header-logo {
  max-width: 100%;
  display: flex;
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-row:after {
  content: '';
  width: 100%;
  height: 0.6px;
  background-color: #585c81;
  margin: 39px auto 0px auto;
}
.header-nav {
}
.header-nav_items {
  display: flex;
}
.header-nav_item {
  margin-left: 48px;
}
/* .header-nav_item:first-child {
  margin-right: 70px;
} */
.header-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 11px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  transition: 0.35s ease;
}
.header-link:hover {
  color: #e84545;
  border-bottom: 2px solid #e84545;
}
