.header{
width: 100%;
background:#000000;
padding-top: 20px;
padding-bottom: 19px;
}
.header-logo {
display: inline-block;
font-family: Raleway;
text-transform: uppercase;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
color: #FFFFFF;
}
.header-logo::after {
content: 'it';
display: inline-block;
font-family: Raleway;
font-style: normal;
font-weight: normal;
text-transform: uppercase;
color: #ec7979;
font-size: 30px;
}
.header-row {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.header-nav_items {
display: flex;
margin-right: 100px;
margin-top: -10px;
}
.header-nav_item {
 padding-right: 25px;
 padding-left: 65px;
}
.header-nav_item-1 {
padding-right: 45px;
}
.header-nav_item-4 {
padding-right: 35px;
  }
.header-link {
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
color: rgba(255, 255, 255, 0.7);
position: absolute;
transition: 0.35s ease;
}
.header-link:hover {
color:  #ec7979;
font-size: 18px;
border-bottom: 2px solid  #ec7979;
}