.pricing {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
  background: #f5f5f5;
  background-size: cover;
}
.pricing-title {
  margin-bottom: 34px;
}
.pricing-card {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
.pricing-card-item {
  width: 340px;
  margin: 0 15px;
  margin-top: 63px;
  text-align: center;
}
.pricing-card-item-optima {
  transition: 0.2s ease;
}
/*строка Optima поднимется вверх*/
.pricing-card-item-optima:hover {
  margin-top: -0;
}

.dark {
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.dark-title {
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 1px;
}
.dark-price {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #ffffff;
  line-height: 100px;
  margin-bottom: 2px;
}
.dark-free {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px; /*задает высоту строки*/
  text-align: center;
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.5);
}
.light {
  background-color: #ffffff;
  color: #86878b;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  margin-bottom: 4px;
}

/*оранжевая строка*/
.dark-free-color {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px; /*задает высоту строки*/
  text-align: center;
  line-height: 50px;
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease;
  }
.dark-free-color:hover {
  background-color: #d98943;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
 }
